<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Поиск </title>
</head>
<body>
    <a href = "index.html"> На главную </a>
    <form action="results.html">
        <input type  = "text" name="QUESTIONS" value="" placeholder="Какая должность?">
        <br>
        <br>
        <select name="CITY">
            <option value="Россия"> Россия </option>
            <option value="Москва"> Москва </option>
            <option value="Казань"> Казань </option>
        </select>

<!--        <input type  = "text" name="CITY" value="" placeholder="Какая должность?">-->
        <br>
        <br>
        <input type="submit" value="Искать">
    </form>
    <a href="results.html"> Перейти к результатам </a>
</body>
</html>